* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: burlywood;
  display: grid;
  place-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 80vh;
  width: 50vw;
  border-radius: 1.5rem;
  box-shadow: 8px 8px 10px 0 rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: 8px 8px 10px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 8px 8px 10px 0 rgba(50, 50, 50, 0.75);
}

.screen {
  display: grid;
  grid-column: 1 / -1;
  align-items: center;
  text-align: right;
  font-size: 4rem;
  padding-right: 10px;
  overflow: hidden;
  background-color: rgb(149, 147, 147);
  color: #fff;
}

.btn {
  display: grid;
  place-content: center;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid rgb(198, 195, 195);
}

.btn:hover {
  font-size: 4rem;
  color: orange;
}

.btn-zero {
  display: grid;
  grid-column: 1/3;
}

.orange {
  background-color: rgb(226, 172, 72);
}

.orange:hover {
  color: #fff;
}
